[user]
	email = shawn.wilcox@blood.ca
	name = Shawn Wilcox
	signingkey = DB5483A94E906946
[commit]
	gpgsign = true
[core]
	editor = nvim
[gpg]
  program = /home/shawn/.local/bin/gpg-pinentry-loopback
[push]
	autoSetupRemote = true
[fetch]
	prune = true
[alias]
  cleanup = "!f() { \
    git branch --merged main | \
      grep -vE '(^\\*| main$| master$)' | \
      xargs -r git branch -d; \
  }; f"
